.channels {
    margin: 10px;
}

.channels .card {
    display: block;
    width: 100%;
}

.channels .card .warning .message {
    display: inline-block;
    padding: 10px;
}

.channels .card .label {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}