.stream {
    margin: 10px;
}

.stream .label {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.stream .meta {
    padding: 5px;
}

.stream .thumbnail {
    display: inline-block;
    width: 100%;
}

.stream .descrption {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 10px;
}